// Fonts
$primary-light: #90a4ae;
$primary-dark: #62757f;
$body-light: rgba(0, 0, 0, 0.61);

// Sections
$light-grey: #f8f6f5;

// Clients
$santander-pastel: #ff6961;
$bt-pastel: #b19cd9;
$ford-pastel: #779ecb;
