// Breakpoints
$mobile: 320px;
$mobile-wide: 600px;
$tablet: 768px;
$tablet-wide: 960px;
$desktop: 1200px;


// Fonts
$heading: "Monoton", cursive;
$heading-2: 'Kaushan Script', cursive;
$body: "lato", sans-serif;