@import "../../styles/shared";

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.section {
  padding: 150px 0px 130px 0px;
}

.home {
  height: 100vh;
  background-color: $light-grey;
}

.footer {
  font-family: $body;
  font-size: 16px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 65px;
  background-color: $light-grey;
}
