@import "../../styles/shared";

.title {
  font-family: $heading-2;
  font-size: $mobile-h1;
  padding-bottom: 80px;
  text-align: center;
  color: $navy;

  &__border {
    width: 100px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid $blue-grey;
  }
}

@media (min-width: $tablet) {
  .title {
    font-size: $tablet-h1;
  }
}

@media (min-width: $desktop) {
  .title {
    font-size: $desktop-h1;
  }
}
