@import "../../../styles/shared";

.qualifications {
  background-color: white;
  padding: 160px 0px 0px 0px;

  .title {
    padding-bottom: 40px;

    &__border {
      display: none;
    }
  }

  &__container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &-item {
      font-size: 4em;
      text-align: center;
      color: $primary-dark;
      padding-bottom: 60px;
    }
  }

  &__image {
    opacity: 0.8;
    object-fit: scale-down;
    height: 100px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

@media (min-width: $mobile-wide) {
  .qualifications {
    &__container{
      margin: 0px $tablet-gutter;
    }
  }
}

@media (min-width: $tablet-wide) {
  .qualifications {
    &__container {
      flex-direction: row;
      margin: 0px $tablet-gutter;

      &-item {
        margin: 20px 0px 50px;
        width: calc(100% / 3);
      }
    }
  }
}
