@import "../../../styles/shared";

.about-me {
  padding-top: 160px;
  .title {
    padding-bottom: 40px;

    &__border {
      display: none;
    }
  }

  &__image {
    height: auto;
    margin: auto;
    display: block;
    max-width: 65%;
  }
}
